<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <div id="container">
        <%- include('partials/nav') %>
        <p class="titulo">Carrito de <%= usuario.name %></p>
        <div id="carrito_vacio"></div>
        <% if( carrito == null || carrito.items.length == 0) { %>
            <h1>Tu carrito esta vacio</h1>
            <p>Navega por nuestra pagina para ver la ropa que te ofrecemos.</p>
            <div id="carrito_opciones_container">
                <div class="carrito_opciones">
                    <h2>Marcas</h2>
                    <div>
                        <a href="/productos/nike">nike</a>
                        <a href="/productos/adidas">adidas</a>
                        <a href="/productos/vans">vans</a>
                    </div>
                </div>
                <div class="carrito_opciones">
                    <h2>Prendas</h2>
                    <div>
                        <a href="/categoria/remeras">remeras</a>
                        <a href="/categoria/pantalones">pantalones</a>
                        <a href="/categoria/zapatillas">zapatillas</a>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div id="carrito_container">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Producto</th>
                            <th>Imagen</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Precio Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% carrito.items.forEach(prod => { %>
                            <tr id="<%= prod._id %>">
                                <td class="eliminar" data-id="<%= prod._id %>"><img src="/images/icons/trash.svg" alt="X"></td>
                                <td class="nombre"><%= prod.name %></td>
                                <td class="imgBack"><img src="<%= prod.img %>" alt="<%= prod.name %>"></td>
                                <td>$<%= prod.price %></td>
                                <td>x<%= prod.cant %></td>
                                <td class="precio_final">$<span class="precios"><%= prod.price * prod.cant %></span></td>
                            </tr>
                        <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="precio_final">Total:</td>
                            <td id="precioFinal" class="precio_final"></td>
                        </tr>
                    </tfoot>
                </table>
                <div id="carrito-btns">
                    <button id="botonEliminar" class="btn">Eliminar Carrito</button>
                    <a href="/orden" class="btn">Realizar Compra</a>
                </div>
            </div>
        <% } %>
    </div>
    <script src="/js/app.js"></script>
    <% if( !(carrito == null || carrito.items.length == 0)) { %>
        <script src="/js/carrito.js"></script>
    <% } %>
</body>
</html>